.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.wrap {
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    gap: 1.5em;

    text-transform: uppercase;
    font-size: 0.8rem;
}