.headers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.headers>label,
.toggleBox {
    cursor: pointer;
    margin: 0 0.33rem;
}

.headers,
.toggle {
    padding: 0.33rem;
}

.toggle {
    background: var(--clr-elements-bg);
    border-radius: 1rem;
}

.toggleBox {
    visibility: hidden;
    position: relative;
}

.toggleBox::after {
    position: absolute;
    content: "";

    width: 125%;
    aspect-ratio: 1;
    border-radius: 100%;

    cursor: pointer;
    background-color: var(--clr-key-primary-bg);
}

.toggleBox:checked:after {
    visibility: visible;
}

.toggleBox:checked:hover::after,
.toggleBox:checked:focus::after {
    opacity: 0.85;
}